body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url(images/crop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header styling */
header {
    background-color: #004d40;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    padding-top: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0.01% 5%;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #00332c;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.about-container{
    position: relative;
    background-image: url(images/aboutbg.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    margin-top: 13%;
}
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links img {
    width: 30px;
    height: 30px;
    padding: 10%;
}
